<h2>por Pais</h2>
<hr>

<div class="row">
  <div class="col">
    <!--seach box-->
    <shared-search-box  [initialValue]="initialValue"
     placeholder="Buscar por pais"
    (onDebounce)="searchByCountry($event)">
  </shared-search-box>
  </div>
</div>


<div class="row">
  <div class="col">
    <hr>
    <ul>
      <countries-table [countries]="countries"></countries-table>
      <!-- <li *ngFor="let country of countries">
        {{country.capital}} - {{country.population}}
      </li> -->
    </ul>
  </div>
</div>
